name: Run At 8AM

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 8 * * *"

jobs:
  run-at-8am:
    runs-on: ubuntu-latest
    services:
      mongo:
        image: mongo
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 27018:27017 # Corrected port mapping

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2.2.0
        with:
          node-version: "16.x"
      - name: Install dependencies
        run: npm install
      - name: Run script
        run: node ./utils/saveDB.js
